@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kite+One&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    background: url("img/2.jpg") no-repeat center / cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.mainCard {
    border-radius: 8px 100px;
    background-color: rgba(255, 208, 0, 0.418);
    padding: 25px;
}

.title {
    display: flex;
    font-family: 'Gochi Hand', cursive;
    font-size: 2.2rem;
    color: #c00609;
    text-shadow: rgb(255, 255, 255) 0.07em 0.05em 0.2em;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputForm {
    border: none;
    font-family: 'Sintony', sans-serif;
    padding: 7px;
    border: 1px solid #eee;
    outline: none;
}

.inputForm::placeholder {
    padding: 0px;
}

.btnCreate {
    padding: 9px 12px;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    border: none;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.cardsList {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 60vh;
    height: 60vh;
}

.card {
    font-family: 'Kite One', sans-serif;
    background-color: rgba(253, 253, 253, 0.603);
    width: 75%;
    padding: 15px;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0px;
    position: relative;
}

.task {
    padding: 10px;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: rgb(38, 194, 38);
}

.completeIcon {
    color: rgb(38, 194, 38);
}

.trashIcon:hover {
    color: red;
}

.deleteConfirmationPop {
    position: relative;
    background-color: rgba(255, 255, 255);
    z-index: 99;
    width: 100%;
    top: -100px;
    left: 0;
}

.deleteSpace {
    position: relative;
    width: 30%;
}

.noTasks {
    font-size: 48px;
}

.date {
    font-family: 'Sintony', sans-serif;
    font-size: 0.8rem;
    color: #c00609;
    font-weight: bold;
    list-style: none;
    width: 90%;
    padding: 15px;
}

@media screen and (min-width: 0) {
    .mainCard {
        width: 70vw;
        border-radius: 8px 100px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .inputForm {
        width: 85%;
        margin-bottom: 10px;
    }

    .btnCreate {
        margin-top: 15px;
    }
}

@media screen and (min-width: 922px) {
    .mainCard {
        width: 45vw;
        border-radius: 8px 100px;
    }

    form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: space-between;
        align-items: center;
        flex-direction: inherit;
        margin-bottom: 5px;
    }

    .inputForm {
        width: 40%;
        margin-bottom: 0;
    }

    .btnCreate {
        margin-top: 0;
    }
}